/* hearder style  */
.banner{
    height: 600px;
    

    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);
    background-image:url(../images/Banner\ Image.png);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin: 50px;
  
}

.title{
    font-size: 32px;
    color:#FFFFFF ;
   padding-top: 177px;
}

.title-2{
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    
}

.banner-title{
       text-align: center;
       justify-content: center;
       
}

/* main */

.holiday{
    justify-content: center;
    align-items: center;
    top: 616px;
    
  

}

.off{
    text-align: center;
    color: rgb(255, 0, 0);
    font-weight: 700;
    font-size: 88px;
   
}
 
.deals{
    text-align: center;
    color: rgb(255, 0, 0);
    font-weight: 500;
    font-size: 24px;
   /* padding-top: 39px; */
   height: 29px;
}

.all{
    text-align: center;
    color: rgb(7, 2, 17);
    font-weight: 560;
    font-size: 38px;
   padding-top: 10px;
}
  
.new{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 38px;
    height: 400px;

}


/* vector style */

.vector{
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);
    background-image:url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    border-radius: 12px;
    background-position: center;
    /* align-items: center; */
   ;
    padding: 225px;
    border-radius: 12px;
    
}

.box{
    display: flex;
    justify-content: center;
   
}

.vector-box{
   text-align: left;
  
}

.vector-box-heading{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
text-align: left;

}

.vector-box-p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
      
}

.vector-button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    
}

